# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/
mfg_agent_ai_supplier_finder.egg-info/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Swap files
*.swp

# yml
k8s/*
render.yaml
vercel.json

# README files
DEPLOYMENT.md
README.md

